# IntelliJ
.idea
.idea/*
*.iml

# Eclipse
.project
.classpath
.settings/

# Java
target/*

# JavaScript & CSS
node_modules/*
src/main/resources/public/
src/main/resources/vendor/
src/main/resources/frontend/js/clearent-main.min.js
src/main/resources/frontend/css/clearent-main.min.css

# Logs
*.log

# Test Coverage/Results
test-results.xml
coverage/*

#npm
npm-debug.log
/target/
